<div class="alert alert-danger alert-dismissible fade show mt-4" role="alert">
  <strong>Ups, we have a error!</strong> You should check in on some of those fields below.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
