<div class="card puntero" (click)="showArtist(item)">
  <img class="card-img-top" [src]="item.images | noimage" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{item.name}}</h5>
    <p class="card-text">
      <span class="badge badge-pill badge-primary" *ngFor="let artist of item.artists">{{item.name}}</span>
    </p>
  </div>
</div>
