<div class="row">
  <div class="col mt-4">
    <input type="text" #termino class="form-control" placeholder="Buscar artista" (keyup)="search(termino.value)">
  </div>
</div>
<app-loading *ngIf="loading" class="mt-5"></app-loading>
<app-cards [items]="artists"></app-cards>
