<app-alert-error *ngIf="error"></app-alert-error>
<div class="row mt-4 animated fadeIn" *ngIf="!loading">
  <div class="col-2">
    <img [src]="artist.images | noimage" alt="" class="img-circle img-thumbnail">
  </div>
  <div class="col">
    <h3>{{artist.name}}</h3>
    <p>
      <a [href]="artist.external_urls.spotify" target="_blank">Ir a página del artista</a>
    </p>
  </div>
  <div class="col-4 text-right">
    <button class="btn btn-outline-danger" [routerLink]="'/search'">Regresar</button>
  </div>
</div>
<div class="row mt-4">
  <div class="col">
    <table class="table">
      <thead>
      <tr>
        <th>Photo</th>
        <th>Album</th>
        <th>Song</th>
        <th>Preview</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let track of topTracks">
        <td><img [src]="track.album.images | noimage" alt="" class="img-thumb"></td>
        <td>{{track.album.name}}</td>
        <td>{{track.name}}</td>
        <td>
          <!--<audio [src]="track.preview_url" controls></audio>-->
          <iframe [src]="track.id | domseguro: 'https://open.spotify.com/embed/track/'"
                  width="300" height="80"
                  frameborder="0"
                  allowtransparency="true"
                  allow="encrypted-media"></iframe>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
